.wrapper{
    display:grid; 
    grid-template-columns:repeat(auto-fit,minmax(12rem,16rem));
    column-gap: 2rem;
    justify-content:center;
    padding-bottom: 1rem;
}

.custom_select{
    position: relative;
	 margin: auto;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 width: 300px;
	 height: 100px;
}