

@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");
 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
 html, body {
	 width: 100%;
	 height: 100%;
}

 .searchbar {
	 position: relative;
	 margin: auto;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 width: 300px;
	 height: 100px;
}
 .searchbar .search {
	 position: absolute;
	 margin: auto;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 width: 80px;
	 height: 80px;
	 background: var(--main-color);
	 border-radius: 50%;
	 transition: all 1s;
	 z-index: 4;
	 box-shadow: 0 0 25px 0 var(--background-color);
}
 .searchbar .search:hover {
	 cursor: pointer;
}
 .searchbar .search::before {
	 content: "";
	 position: absolute;
	 margin: auto;
	 top: 22px;
	 right: 0;
	 bottom: 0;
	 left: 22px;
	 width: 12px;
	 height: 2px;
	 background: var(--element-color);
	 transform: rotate(45deg);
	 transition: all 0.5s;
}
 .searchbar .search::after {
	 content: "";
	 position: absolute;
	 margin: auto;
	 top: -5px;
	 right: 0;
	 bottom: 0;
	 left: -5px;
	 width: 25px;
	 height: 25px;
	 border-radius: 50%;
	 border: 2px solid var(--element-color);
	 transition: all 0.5s;
}
 .searchbar input {
	 font-family: "Inconsolata", monospace;
	 position: absolute;
	 margin: auto;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 width: 50px;
	 height: 50px;
	 outline: none;
	 border: none;
	 background: var(--main-color);
	 color: white;
	 text-shadow: 0 0 10px var(--main-color);
	 padding: 0 80px 0 20px;
	 border-radius: 30px;
	 box-shadow: 0 0 25px 0 var(--main-color), 0 20px 25px 0 var(--background-color);
	 transition: all 1s;
	 opacity: 0;
	 z-index: 5;
	 font-weight: bolder;
	 letter-spacing: 0.1em;
}
 .searchbar input:hover {
	 cursor: pointer;
}
 .searchbar input:focus {
	 width: 300px;
	 opacity: 1;
	 cursor: text;
}
 .searchbar input:focus ~ .search {
	 right: -250px;
	 background: var(--background-color);
	 z-index: 6;
}
 .searchbar input:focus ~ .search::before {
	 top: 0;
	 left: 0;
	 width: 25px;
}
 .searchbar input:focus ~ .search::after {
	 top: 0;
	 left: 0;
	 width: 25px;
	 height: 2px;
	 border: none;
	 background: var(--element-color);
	 border-radius: 0%;
	 transform: rotate(-45deg);
}
 .searchbar input::placeholder {
	 color: var(--element-color);
	 opacity: 0.5;
	 font-weight: bolder;
}
 